.container-lg{
    font-family:'Gill Sans', 'Gill Sans MT';
    font-size: 18px;
}
.container-md{
    max-width: 849px;
    min-width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT';
    font-size: 18px;
}
a img{
    width: 2vh;
    filter: invert(40%)
}
.img1{
    width: 33%;
}
.img2{
    width: 100%;
}
.row{
    width: 100%;
    margin: 0;
}
.borderlg1{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.borderlg2{
    border-bottom: 1px solid grey;
}
.borderlg3{
    border-right: 1px solid grey;
}
.feature{
    width: 90%;
    margin: auto;
}

.write{
    width: 75%;
    margin: auto;
}
.img-enlarged1{
    width: 50%;
    height: auto;
}
.social-icon {
    border: 1px solid gray;
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.social-icon:hover{
    background-color: rgba(128, 128, 128, 0.37);
}
  
  .social-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .gallery .col-3{
    padding: 0;
  }
  @media (max-width: 849px) and (min-width: 600px) {
    #mail1{
        display: none;
    }
    .container-lg{
        font-size: 14px;
    }
    .ic3,.ic4 {
    display: none;
    }
    .ic1,.ic2 {
    width: 100%;
            }
    .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
      }
     .feature .col-4 {
        flex: 0 0 auto;
        width: 50%;
     }
     .borderlg1,.borderlg2,.borderlg3{
        border: none;
     }
     .bordermd1{
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .bordermd2{
        border-bottom: 1px solid grey;
    }
    .bordermd3{
        border-right: 1px solid grey;
    }
    .social-icon { 
        width: 40px;

    }
}
@media (max-width: 599px) and (min-width: 0px) {
    #mail1{
        display: none;
    }
    .container-lg{
        font-size: 14px;
    }
    .container-lg{
        font-size: 12px;
    }
    .center-line .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .center-line .col-4,
    .center-line .col-8 {
        text-align: center;
    }
    
    .center-line .img1,
    .center-line .img2 {
        margin-top: 20px;
    }
    .flex1{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .flex2{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .fc1{
        padding-top: 30px;
        width: 100%;
    }
    .fc{
        padding-bottom: 30px;
    }
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .feature .col-4 {
        flex: 0 0 auto;
        width: 100%;
     }
     .ic2,.ic3,.ic4 {
        display: none;
        }
        .borderlg1,.borderlg2,.borderlg3{
            border: none;
         }
         .bordersm{
            border-bottom: 1px solid grey;
        }
    .tosu .col-4{
        flex: 0 0 auto;
        width: 100%;
    }
    .social-icon {
        width: 40px;

    }
    .img2{
        width: 100%;
    }
    .px-5{
        display: none;
    }
    .qqwwee{
        width: 100%;
    }
    .img-enlarged{
        width: 100%;
        height: auto;
    }
}